.tableHeader {
    display: grid;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px; 
    text-align: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    grid-template-areas: 
        'client clientOrder status startDate finishDate ';
    
        .client {
            grid-area: client;
            padding-bottom: 10px;
        }

        .clientOrder {
            grid-area: clientOrder;
            padding-bottom: 10px;
        }

        .status {
            grid-area: status;
            padding-bottom: 10px;
        }

        .startDate {
            grid-area: startDate;
            padding-bottom: 10px; 
        }

        .finishDate {
            grid-area: finishDate;
            padding-bottom: 10px;
        }
}

.title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: rgb(223, 222, 222);
}

.orderTable {
    border: 1px solid #555555;
    background-color: #545681;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 1px 5px 0 gray;
}

.separator {
    width: 100%;
    border-top:1px solid #555555;
}
